{% load i18n %}
<div class="oh-general__tab-target oh-profile-section mb-4 d-none" id="bank">
    <div class="oh-profile-section__card">
        <form action="" method="post">

            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Bank Name" %}</label>
                        {{ bank_form.bank_name }}
                        {{ bank_form.bank_name.errors }}
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Account Number" %}</label>
                        {{ bank_form.account_number }}
                        {{ bank_form.account_number.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Branch" %}</label>
                        {{ bank_form.branch }}
                        {{ bank_form.branch.errors }}
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "IFSC Code" %}</label>
                        {{ bank_form.any_other_code1 }}
                        {{ bank_form.any_other_code1.errors }}
                    </div>
                </div>
            </div>
            {{ bank_form.address }}
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <label class="oh-label" for="country">{% trans "Country" %}</label>
                    <select name="country" id="country" class="oh-select oh-select-2"
                        data-selected="{{ bank_form.country.value|default:'' }}">
                    </select>
                    {{ bank_form.country.errors }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "State" %}</label>
                        <select name="state" id="state" class="oh-select oh-select-2"
                            data-selected="{{ bank_form.state.value|default:'' }}">

                        </select>
                        {{ bank_form.state.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "City" %}</label>
                        {{ bank_form.city }}
                        {{ bank_form.city.errors }}
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Account Type" %}</label>
                        {{ bank_form.account_type }}
                        {{ bank_form.account_type.errors }}
                    </div>
                </div>
            </div>
            <hr class="mt-5 mb-3">
            <div class="w-100 d-flex align-items-center justify-content-end">
                <button type="submit" class="oh-btn oh-btn--secondary oh-btn--w-100-resp">
                    {% trans "Save" %}
                </button>
            </div>
        </form>
    </div>
</div>

{% load static %}
<script src="{% static '/index/country.js' %}"></script>
<script>
    $(document).ready(function() {
        if (typeof initCountryStateDropdowns === 'function') {
            initCountryStateDropdowns();
        }
    });

    if (window.ifscFetchListenerInitialized === undefined) {
        window.ifscFetchListenerInitialized = true;
        $(document).on('input change', '#id_any_other_code1', function() {
            var ifsc = $(this).val().trim().toUpperCase();
            $(this).val(ifsc);
            
            // Validate IFSC format (11 characters: 4 letters, 0, 6 alphanumeric)
            var ifscRegex = /^[A-Z]{4}0[A-Z0-9]{6}$/;
            if (ifscRegex.test(ifsc)) {
                var $bankName = $('#id_bank_name');
                var $branch = $('#id_branch');
                var $address = $('#id_address');
                
                if ($bankName.length || $branch.length || $address.length) {
                    console.log("Fetching bank details for IFSC:", ifsc);
                    fetch('/api/ifsc-lookup/?code=' + encodeURIComponent(ifsc))
                        .then(function(response) {
                            if (response.ok) {
                                return response.json();
                            }
                            throw new Error('IFSC not found');
                        })
                        .then(function(data) {
                            if (data) {
                                if ($bankName.length) {
                                    $bankName.val(data.BANK || '');
                                    $bankName.trigger('change');
                                }
                                if ($branch.length) {
                                    $branch.val(data.BRANCH || '');
                                    $branch.trigger('change');
                                }
                                if ($address.length) {
                                    $address.val((data.ADDRESS || '') + ', ' + (data.CITY || '') + ', ' + (data.STATE || ''));
                                    $address.trigger('change');
                                }
                                
                                // Update Country to India
                                var $country = $('#id_country').length ? $('#id_country') : $('#country');
                                var $state = $('#id_state').length ? $('#id_state') : $('#state');
                                if ($country.length) {
                                    $country.val("India").trigger('change');
                                    if ($state.length) {
                                        populateStates($country.attr('id'), $state.attr('id'));
                                    }
                                }
                                
                                // Update State dropdown matching data.STATE
                                var $state = $('#id_state').length ? $('#id_state') : $('#state');
                                if ($state.length && data.STATE) {
                                    var stateToFind = data.STATE.trim().toUpperCase();
                                    var foundValue = null;
                                    $state.find('option').each(function() {
                                        var optText = $(this).text().trim().toUpperCase();
                                        if (optText === stateToFind) {
                                            foundValue = $(this).val();
                                            return false;
                                        }
                                    });
                                    if (foundValue) {
                                        $state.val(foundValue).trigger('change');
                                    } else {
                                        $state.find('option').each(function() {
                                            var optText = $(this).text().trim().toUpperCase();
                                            if (optText.indexOf(stateToFind) !== -1 || stateToFind.indexOf(optText) !== -1) {
                                                foundValue = $(this).val();
                                                return false;
                                            }
                                        });
                                        if (foundValue) {
                                            $state.val(foundValue).trigger('change');
                                        }
                                    }
                                }
                                
                                // Update City input field
                                var $city = $('#id_city').length ? $('#id_city') : $('#city');
                                if ($city.length) {
                                    $city.val(data.CITY || '').trigger('change');
                                }
                            }
                        })
                        .catch(function(error) {
                            console.error("Error fetching IFSC details:", error);
                        });
                }
            }
        });
    }
</script>
</div>


