
<div class="rec-view-container">
    {% include "generic/skylinx_list_table.html" %}
</div>
<script>
  $(document).off("htmx:afterSwap.cbv_recruitm_rec_main").on("htmx:afterSwap.cbv_recruitm_rec_main", function () {
    $("[data-toggle-count]").off("click").on("click", function (e) {
      e.stopPropagation();
      let recViewContainer = $(this).closest('tr');
      span = recViewContainer.find(".count-span").toggle();
      recViewContainer.toggleClass("oh-permission-table--collapsed");
    });
  });
</script>
